# theory questions
# 1 what are data structure, and why are they important?
  -#   data structure are fundamental components in computer science that  
        organize, manage and store data efficiently. they are essiential     for various reasons, including efficient problem-solving, imporving coding  skills and solving real-world problems.
# 2. explain the difference between mutable and immutable data types with
      example.
  - # mutable:- mutable objects are objects whose can be changes the value after creation. list[ ] is a mutable.
  eg:- l =[2,4,6,7]
  print(l)
  print(type(l))
  l[0] = "ankita"
  print(l)
  output :- 'ankita'
  # immutable:- immutable objects are objects whose can not be changes the value after creation. string, tuples are immutable.
  eg:- s = ('a','c','g','h')
  print(s)
  print(type(s))
  s(0) ='f'
  print(s)  # this will throw error
  output:- string obnect not change.
#3.  what are the main difference between lists and tuples in python?
- #  lists[ ]:- list is  mutable. we can change the value of the lists. lists
                writes in [] square brackets. list is a collection of item of same or different data types stored in square.
 #   tuple():- tuple is immutable. we can not change the value. tuple is a  
               value of collection of item of same or different data types stored in round bracket().
#4.  Describe how dictionaries store data.
-  # A python dictionary is a data structure that stores the value in key:value pairs, values in a dictionary can be of any data type and can be duplicated, whereas key can't be repeated and must be immutable.
#5. why might you use a set instead of a list in python?
- # 1. A set cannot any duplicate values.
       A list can contain duplicate values.
       A set can be more easily(and quickly) generated from a map via key set().
       A lists are defined using square brackets[].
       A sets are defined using curly braces{}.
       A list is ordered collection.
       A sets is unorderd collection.
#6. how do tuples ensure data integrity in python?
-  # tuples are immutable to ensure that the contents remain constant  
     throughout their liofecycle,guranteeing,data integrity allows tuple to be used as keys in dictionaries and elements in sets, as they can be hashed.
# 7. what is a string in python and how is it different from a list?
- # string():- string is a sequence of characters which are enclorsed within
               simple quotes, and double quotes. string is immutable. we can not the change of the value after creation.
  #  lists[]:- list is a collection of items of same or different data types
               stored in square bracket[]. list is mutable. we can change the value of after creation.
# 8.  what is a hash table and how does it relate to dictionaries in python?
-  #  A hash table is a data structure that uses a hash function to map keys to
      values, allowing for fast lookups, while python dictonaries are implemented using hash tables, enabling efficient storage and retrival of key-value pairs.
# 9.can list contain different data types in python?
- #  althrough it's not really common, a list can also contain a mix of python types including strings, floats and booleans.
# 10. Explain why strings are immutable in python?
-  #  string is immutable becasuse we can not the change value after ctreation.
      string is using the defined in round brackets(). string are writes always 'single quote and qouble quotes.
      eg:- s =('a,'b','c','d')
        print(s)
      print(type(s))
      s(0) ='k'
      print(s)   # this will throw a error.

      output:- string object can not chnages.
# 11. what advantages do dictaniores over list for certain tasks?
-  #  Dictionary:- dictionaries excel over lists from tasks requirng fast data
      retrieval,key-value association unorderd nature, dynamic size and organization by keys.
#   lists:- lists are better for ordered collection , index based access,     
            slicing and sequence operations.
# 12. describe a scenario where using atuple would be prefrence over a list.
-  #  tuples are immutable. if you want the data in your collection to be     
      read-only, never to change, and always remain the same and constant. they are primilary used to store data that doesn't frequently changed.
# 13. how do sets handle duplicate values in python?
-  #  duplicates item are not allowed in set. if items appear multiple times,   
      only one will be recognised in the set. the items in a set are unorderd.
# 14. how does the "in" word keyword work differently for list and dictionaries?
-  # Dictionary value can be duplicated like a list
   list[]:- eg;- l =[12,24,40]
   for i in l:
   print(i)
    output: 12
            24
            40
    dictionary{};- dict = {"hello":"hi",t"thank you":"welcome!"}
    hello in dict:
    'hi'
    "thank you" in dict:
    'welcome!'
# 15. can you modify the element of tuple? explain why or why not.
-  #  once tuple is created after we cannot change the value,add or remove.
      tupple is unchangable because tuple is mutable.tuple is creating round bracket().
# 16.what is a nested dictionary,and give an example of its use case?
-  # we can store dictionaries inside another dictionary this is called nested dictionary:
eg:- think of a libaray where each book has its own set of details
libarary ={
          "book1":{
            "title":"python programing",
            "author":"darshan",
            "year":2021
          },
          "book2":{
            "title":"java",
            "author":"ankita",
            "year":2022
          }
}
print(libaray)
# 17. describe the time comlexity of accessing elements in a dictionary.
- # accessing elements in a dictionary typically has an average time complexity
     of o(1),meaning it takes constant time regardless of the dictionary's size, due to the use of a hash function for efficient lookups.
# 18. In what situations are list perfered over dictionaries?
-   # for quick data lookups,configurations, or caches for dictionaries.
     for ordered collection and sequence operations such as maintaing a stack or queue, list are more suitable.
# 19. why are dictionaries considered unorderd, and how does that effect data
      retrieval?
-  #  dictionaries are considered unorderd because they store data as key-  
      value pairs, and the order in which these pairs are inserted is not preserved; they are optimized for fast key-based retrieval, not sequential access.
# 20. explain the difference between a list and a dictionary in terms of data
      retrival.
  - # in terms of data retrieval, lists access elements by their numerical  
      index (starting from 0), while dictionaries access elements by their unique associated key.
     eg:-list[]:- you access elements using their index, retrive the first element my_list
     my_list =["apple","banana","cheery"]
     print(my_list[0]) = 'apple
     print(my_list[2]) = 'cherry'

     dictionary{}:- you access elements using their key-value, retrive the first element my_dict{}
     my_dict = {"name":"ankita","age":35}
     print(my_dict["name"])  # ankita
     print(my_dict["age"])   # 35

In [ ]:
# practical questions:-
# 1. write a code to create a string with your name and print it.
username = input("enter your name")
print(username)

enter your name"ankita agarwal"
"ankita agarwal"

In [ ]:
#2. write a code to find the length of the string "hello world".
s = "hello world"
print(s)
print(len(s))

hello world
11

In [ ]:
# 3. write a code to slice the first 3 character from the string"python programing".
s = "python programing"
print(s)
print(s[3:])

python programing
hon programing

In [ ]:
# 4. write a code to convert the string "hello" to uppercase.
s = "hello"
 #string to convert uppercase
print(s.upper())

HELLO

In [ ]:
#5. write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
 # "apple" replace "orange" word
print(s.replace("apple","orange"))

I like orange

In [25]:
# 6. write a code to create a list with number 1 to 5 and print
# range() is used create a list :
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
#7. write a code to append the number 10 to the list [1,2,3,4].
l = [1,2,3,4]
print(l)
l.append(10)
print(l)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [ ]:
# 8. write a code to remove the number 3 from the list[1,2,3,4,5]
l = [1,2,3,4,5]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
# 9. write a code to access the second element in the list['a','b','c','d']
l = ['a','b','c','d']
print(l)
print(l[1])

['a', 'b', 'c', 'd']
b

In [ ]:
#10. write a code to reverse a list [10,20,30,40,50]
l= [10,20,30,40,50]
print(l)
l.reverse()
print(l)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [ ]:
#11.write a code to create a tuple with the elements 100,200,300 and print it.
t =(100,200,300)
print(t)
print(type(t))

(100, 200, 300)
<class 'tuple'>

In [ ]:
# 12. write a code to access the second to last element of the tuple('red','green','blue','yellow')
t =('red','green','blue','yellow')
print(t)
print(t[2:])

('red', 'green', 'blue', 'yellow')
('blue', 'yellow')

In [ ]:
# 13. write a code to find the minimum number in the tuple(10,20,5,15)
t =(10,20,5,15)
print(t)
smallest_number =min(t)
print(smallest_number)

(10, 20, 5, 15)
5

In [ ]:
# 14. write a code to find the index of the element "cat" in the element("dog","cat","rabbit")
t =("dog","cat","rabbit")
print(t)
t.index("cat")

('dog', 'cat', 'rabbit')

1

In [ ]:
# 15. write a code to create a tuple containg three different fruits and check if "kiwi" is in it.
t =("apple","kiwi","banana")
if "kiwi" in t:
  print('kiwi is in the tuple')
else:
  print('kiwi is not in the tuple')

kiwi is in the tuple

In [ ]:
# 16. write a code to create a set with the elements 'a','b','c' and print it
s ={'a','b','c'}
print(s)
print(type(s))
# accessing the element

print(s[0]) # this throw an error
# set is unoredred and unindexed.

{'c', 'b', 'a'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [ ]:
# 17. write a code to clear all elements from set{1,2,3,4,5}
s ={1,2,3,4,5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [ ]:
# 18.  write a code to remove the element 4  from the set {1,2,3,4}
s ={1,2,3,4}
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
#19. write a code to find the union of two sets {1,2,3} and {3,4,5}
s1 ={1,2,3}
s2 ={3,4,5}
print(s1)
print(s2)
print(s1.union(s2))

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# 20. write a code to find the intersection of two sets {1,2,3} and {2,3,4}
s1 = {1,2,3}
s2 ={2,3,4}
print(s1)
print(s2)
print(s1.intersection(s2))

{1, 2, 3}
{2, 3, 4}
{2, 3}

In [3]:
# 21.write a code dictionary with keys "name","age",and "city" and print it.
d ={"name":"ankita","age":30,"city":"pune"}
print(d)
print(type(d))
print(d["name"])
print(d["age"])
print(d["city"])

{'name': 'ankita', 'age': 30, 'city': 'pune'}
<class 'dict'>
ankita
30
pune

In [6]:
# 22. write a code to add a new key-value pair "country":"USA" to the dictionary{'name:'john','age':25}
d = {"name":"john","age":25}
print(d)
add_name = {"country":"USA"}
d.update(add_name)
print(d)

{'name': 'john', 'age': 25}
{'name': 'john', 'age': 25, 'country': 'USA'}

In [7]:
# 23. write a code to access the value associated with the key "name" in the dictionary.{"name":"alice","age":30}
d ={"name":"alice","age":30}
print(d)
print(d["name"])
print(d["age"])

{'name': 'alice', 'age': 30}
alice
30

In [8]:
# 24. write a code to remove the key"age" from the dictionary{"name":"bob","age":22,"city":"newyork"}
d ={"name":"bob","age":22,"city":"network"}
print(d)
d.pop("age")
print(d)

{'name': 'bob', 'age': 22, 'city': 'network'}
{'name': 'bob', 'city': 'network'}

In [9]:
# 25. write a code to check if the key "city" exists in the dictionary {"name":"alice","city":"paris"}
d ={"name":"alice","city":"paris"}
print(d)
if "city" in d:
  print("city is present in the dictionary")
else:
  print("city is not present in the dicitonary")

{'name': 'alice', 'city': 'paris'}
city is present in the dictionary

In [17]:
# 26.write a code to create a list,tuple and dictionary and print it.
# list example:-
l = [10,20,30,40]
print(l)
print(type(l))
print(l[0])
# tuple:-
t=(10,20,30,40)
print(t)
print(type(t))
print(t[0])
# dictionary example;-
d ={0:10,1:20,2:30,3:40}
print(d)
print(type(d))
print(d[1])

[10, 20, 30, 40]
<class 'list'>
10
(10, 20, 30, 40)
<class 'tuple'>
10
{0: 10, 1: 20, 2: 30, 3: 40}
<class 'dict'>
20

In [22]:
# 27. write a code to create a list of 5 random number between 1 and 100, sort it in asscending order and print the result.
import random
rand_list=[]
for i in range(5):
  n=random.randint(1,100)
  rand_list.append(n)
print(rand_list)
rand_list.sort()
print(rand_list)

[51, 46, 34, 18, 46]
[18, 34, 46, 46, 51]

In [24]:
# 28. write a code to create a list with strings and print the elements at the third index.
str_list =["python","is","programing language"]
delimiter =" "
join_str = delimiter.join(str_list)
print(join_str)

python is programing language

In [18]:
# 29. write a code to combine two dictionaries into one and print the result
# suppose i given a one libaray and 2 books details to combine.
libarary = {
    "book1":{
        "title":"python programing",
        "author":"darshan",
        "year":2021
    },
    "book2":{
        "title":"java",
        "author":"riddhi",
        "year":2021
    }
}
print(libarary)

{'book1': {'title': 'python programing', 'author': 'darshan', 'year': 2021}, 'book2': {'title': 'java', 'author': 'riddhi', 'year': 2021}}

In [19]:
# 30. write a code to convert a list of string into a set.
mylist =["apple","banana","cherry","banana","orange"]
print(mylist)
myset = set(mylist)
print(myset)

['apple', 'banana', 'cherry', 'banana', 'orange']
{'apple', 'cherry', 'orange', 'banana'}